:root {
    --color-white: hsl(210, 17%, 82%);
    --color-white-blurred: hsla(210, 17%, 82%, 0.5);
    --color-blue: hsl(213, 50%, 40%);
    --color-black: hsl(216, 28%, 7%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: var(--color-black);

    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    padding: 5rem;
    border: 2px solid var(--color-blue);
}
